<div class="row justify-content-center mt-5 text-center">
  <div class="col-md-8">
    <h1 class="display-4 fw-bold"><i class="bi bi-shop"></i> Bem-vindo à ElectroStore</h1>
    <p class="lead text-muted">O seu sistema de gerenciamento e vendas de eletrônicos.</p>
    <hr class="my-4">

    <p>Acesse o sistema para visualizar e gerenciar nossos produtos.</p>
  </div>
</div>
