<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />

  <link rel="stylesheet" href="/stylesheets/bootstrap-icons/bootstrap-icons.min.css">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="bg-light">

  {{> navbar}}

  <div class="container">
    {{{body}}}
  </div>

  <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>
